In [12]:
import pandas as pd

In [14]:
import re

## Séléctionner les réponses

In [32]:
myset=['', '233,14 228,08 229,53', '5.43', '3,24', '494,17', '3,51', '388,92', ' 45 678']

### on supprime les espace entre 1 chiffre suivi de 3 (milliers)

In [3]:
def milliers(text):
    regex= r"(?<!\,..)(?<=\d) (?=\d\d\d)"
    return re.sub(regex,"",text)
def point(text):
    return re.sub("\,",".",text)

In [51]:
output_list = list(map(milliers, myset))
output_list

['',
 '233,14 228,08 229,53',
 '5.43',
 '3,24',
 '494,17',
 '3,51',
 '388,92',
 ' 45678']

### on split à chaque fois que l'on trouve un autre espace

In [36]:
result = [item.split(' ') for item in output_list]

In [37]:
result

[[''],
 ['233,14', '228,08', '229,53'],
 ['5.43'],
 ['3,24'],
 ['494,17'],
 ['3,51'],
 ['388,92'],
 ['', '45678']]

In [52]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['',
 '233,14',
 '228,08',
 '229,53',
 '5.43',
 '3,24',
 '494,17',
 '3,51',
 '388,92',
 '',
 '45678']

In [55]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)

In [56]:
final= list(map(point,final))

In [57]:
final

['233.14',
 '228.08',
 '229.53',
 '5.43',
 '3.24',
 '494.17',
 '3.51',
 '388.92',
 '45678']

## Borner les réponses

In [31]:
set(myset)

{' 45 678', '233,14 228,08 229,53', '3,24', '3,51', '388,92', '494,17', '5.43'}

In [65]:
mylist = []
for item in final:
    mylist.append(float(item))

In [66]:
type(mylist[0])

float

In [67]:
temp=set()
for x in mylist:
    if (x>30) or (x<0):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [68]:
mylist

[5.43, 3.24, 3.51]

# Test n2

In [4]:
mylist=['480', '234 528 64', '0', '53,89', '53.89']

In [7]:
output_list = list(map(point, mylist))
#output_list

In [10]:
result = [item.split(' ') for item in output_list]
result

[['480'], ['234', '528', '64'], ['0'], ['53.89'], ['53.89']]

In [9]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['480', '234', '528', '64', '0', '53.89', '53.89']

In [11]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)

In [12]:
final= list(map(point,final))

In [13]:
mylist = []
for item in final:
    mylist.append(float(item))

In [14]:
temp=set()
for x in mylist:
    if (x<0):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [15]:
mylist

[480.0, 234.0, 528.0, 64.0, 0.0, 53.89, 53.89]

In [16]:
myset=set(mylist)

In [17]:
myset

{0.0, 53.89, 64.0, 234.0, 480.0, 528.0}

# Test n3

In [117]:
mylist=['2019', '0 10', '20 20', '1000', '0', '75 120', '75']

In [118]:
output_list = list(map(milliers, mylist))
output_list

['2019', '0 10', '20 20', '1000', '0', '75120', '75']

In [119]:
result = [item.split(' ') for item in output_list]

In [120]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['2019', '0', '10', '20', '20', '1000', '0', '75120', '75']

In [122]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))

In [123]:
mylist = []
for item in final:
    mylist.append(float(item))

In [128]:
temp=set()
for x in mylist:
    if (x<0) or (x>120):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [129]:
mylist

[0.0, 10.0, 20.0, 20.0, 0.0, 75.0]

In [130]:
myset=set(mylist)

In [131]:
myset

{0.0, 10.0, 20.0, 75.0}

# Test n4

In [133]:
mylist=['2021', '', '100', '98,1 100 890 683']

In [136]:
result = [item.split(' ') for item in mylist]

In [137]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['2021', '', '100', '98,1', '100', '890', '683']

In [138]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))

In [139]:
mylist = []
for item in final:
    mylist.append(float(item))

In [140]:
temp=set()
for x in mylist:
    if (x<25) or (x>100):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [141]:
myset=set(mylist)

In [142]:
myset

{98.1, 100.0}

# Test n5: Elbeuf P103.2

In [143]:
mylist=['', '3.2', '100 100', '0', '100', '120 100', '3.1 102']

In [144]:
result = [item.split(' ') for item in mylist]

In [145]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['', '3.2', '100', '100', '0', '100', '120', '100', '3.1', '102']

In [146]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))

In [147]:
mylist = []
for item in final:
    mylist.append(float(item))

In [150]:
temp=set()
for x in mylist:
    if (x<0) or (x>120):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [151]:
myset=set(mylist)

In [152]:
myset

{100.0}

# elbeuf P107.2

In [154]:
mylist=['0,75 0', '17', '3.4', '2017', '0']

In [155]:
result = [item.split(' ') for item in mylist]

In [156]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['0,75', '0', '17', '3.4', '2017', '0']

In [157]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))

In [158]:
mylist = []
for item in final:
    mylist.append(float(item))

In [159]:
temp=set()
for x in mylist:
    if (x<0) or (x>3):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [160]:
myset=set(mylist)

In [161]:
myset

{0.0, 0.75}

# Bornes enregistrées dans csv

## P107.2

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\malou.berthe\Documents\src\bornes.csv')
df.head(10)

     indic   min           max
0   D101.0   0.0  5.000000e+10
1   D102.0   1.0  4.000000e+00
2   D151.0   1.0  1.000000e+01
3   P101.1  25.0  1.000000e+02
4   P102.1  25.0  1.000000e+02
5  P103.2B   0.0  1.200000e+02
6   P103.2   0.0  1.200000e+02
7   P104.3  50.0  9.500000e+01
8   P105.3   0.1  2.000000e+01
9   P106.3   0.1  2.000000e+01

In [2]:
mylist=['0,75 0', '17', '3.4', '2017', '0']

In [165]:
result = [item.split(' ') for item in mylist]

In [167]:
final=[]
for i in result:
    for j in i:
        final.append(j)
final

['0,75', '0', '17', '3.4', '2017', '0']

In [168]:
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))

In [169]:
mylist = []
for item in final:
    mylist.append(float(item))

In [175]:
for i in df.index:
    if df['indic'][i]=='P107.2':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [176]:
temp=set()
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.add(x)
for x in temp:
    mylist.remove(x)

In [179]:
myset=set(mylist)
myset

{0.0, 0.75}

##  P102.1

In [180]:
import pandas as pd

df = pd.read_csv(r'C:\Users\malou.berthe\Documents\src\bornes.csv')
df.head()

    indic   min           max
0  D101.0   0.0  5.000000e+10
1  D102.0   1.0  4.000000e+00
2  D151.0   1.0  1.000000e+01
3  P101.1  25.0  1.000000e+02
4  P102.1  25.0  1.000000e+02

In [182]:
mylist=['0 0 4 0', '100', '0','____ 100']

In [183]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [184]:
for i in df.index:
    if df['indic'][i]=='P102.1':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [187]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [188]:
myset=set(mylist)
myset

{100.0}

##  P106.3

In [197]:
mylist=['', '1,5 1.8', '1,8', '10 640', '76,3', '1.8', '0']

In [198]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [199]:
for i in df.index:
    if df['indic'][i]=='P106.3':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [200]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [201]:
myset=set(mylist)
myset

{1.5, 1.8, 10.0}

## P103.2

In [208]:
mylist=['', '3.2', '100 100', '0', '100', '120 100', '3.1 102']

In [209]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [210]:
for i in df.index:
    if df['indic'][i]=='P103.2':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [211]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [212]:
myset=set(mylist)
myset

{0.0, 3.1, 3.2, 100.0, 102.0, 120.0}

## P109.0

In [218]:
mylist=['0 0', '5.1', '0']

In [219]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [220]:
for i in df.index:
    if df['indic'][i]=='P109.0':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [221]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [222]:
myset=set(mylist)
myset

{0.0}

## P153.2

In [230]:
mylist=['1']
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [231]:
for i in df.index:
    if df['indic'][i]=='P153.2':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [232]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [233]:
myset=set(mylist)
myset

{1.0}

 ## P154.0

In [235]:
mylist=['3.8']

In [236]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [237]:
for i in df.index:
    if df['indic'][i]=='P154.0':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [238]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [239]:
myset=set(mylist)
myset

{3.8}

## P155.1

In [246]:
mylist=['3.9']

In [247]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [248]:
for i in df.index:
    if df['indic'][i]=='P155.0':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [249]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [250]:
myset=set(mylist)
myset

{3.9}

## P101.1

In [257]:
mylist=['100', '0', '____ 100']

In [258]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [259]:
for i in df.index:
    if df['indic'][i]=='P101.1':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [260]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [261]:
myset=set(mylist)
myset

{100.0}

## P102.1

In [264]:
mylist=['0 0 4 0', '100', '0','____ 100']

In [265]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [269]:
for i in df.index:
    if df['indic'][i]=='P102.1':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [270]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [271]:
myset=set(mylist)
myset

{100.0}

## P104.3

In [272]:
mylist=['80,4 76,3']

In [273]:
result = [item.split(' ') for item in mylist]
final=[]
for i in result:
    for j in i:
        final.append(j)
for i in final:
    if (re.findall('\d+',i)==[]):
        final.remove(i)
final= list(map(point,final))
mylist = []
for item in final:
    mylist.append(float(item))

In [274]:
for i in df.index:
    if df['indic'][i]=='P104.3':
        v_min=df['min'][i]
        v_max=df['max'][i]

In [275]:
temp=[]
for x in mylist:
    if (x<v_min) or (x>v_max):
        temp.append(x)
for x in temp:
    mylist.remove(x)

In [276]:
myset=set(mylist)
myset

{76.3, 80.4}

# rep les avirons

In [1]:
!pip install pandas
import pandas as pd

Collecting pandas
  Using cached pandas-2.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 8.6 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.21.0 in /opt/mamba/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.1 tzdata-2023.3

In [17]:
import os
pd.set_option('mode.chained_assignment', None)
import s3fs

In [18]:
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})
BUCKET = "mberthe/narval"
FILE_KEY_S3 = "camemBERT/pre_avirons_T5_xl.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb",index=False) as file_in:
    pred1 = pd.read_csv(file_in)

In [19]:
pred1.drop(columns={"Unnamed: 0"})

     indic                                             valeur
0   D102.0  ['', '86 134 1 2020 1 2021', '0', '0', '60.92 ...
1   P103.2  ['10', '', '', '2020 69 30 2020', '0.02', '0',...
2   P107.2  ['73.18', '', '66.0 36.0', '2', '', '71', '3 3...
3   P109.0                                ['', '0', '0', '0']
4   P153.2                                              ['0']
5   P154.0                                ['', '0', '0', '0']
6   P155.1  ['53 076.82 0.96 5 235', '0.96', '53 076.82 0....
7   P101.1  ['97.3', '94.7 95.5', '', '22 21 97.3 22 22 10...
8   P102.1  ['98.7 94.8', '96.4 84', '', '', '52 52 100 22...
9   P104.3  ['73.18', '73.18', '67.08 70.9', '13.8', '92',...
10  P105.3  ['', '', '98.1 100 890 683', '', '801 865 798 ...
11  P106.3  ['', '', '', '9.28', '0.02', '', '', '9.28', '...
12  P108.3  ['', '0.1', '0', '0', '0', '', '73.18', '0', '0']
13  P151.1         ['0 95.52', '', '0 95.52', '0', '0 95.52']

In [20]:
type(pred1["valeur"][0])

str

In [122]:
import ast

In [123]:
#Nous avons un string donc, on le met sous forme de liste
for i in pred1.index:
   pred1['valeur'][i] =res = ast.literal_eval(pred1['valeur'][i])

In [124]:
type(pred1["valeur"][0])

list

In [125]:
pred1

    Unnamed: 0   indic                                             valeur
0            0  D102.0  [, 86 134 1 2020 1 2021, 0, 0, 60.92 61.90 1.6...
1            1  P103.2  [10, , , 2020 69 30 2020, 0.02, 0, 0, 0.02, 25...
2            2  P107.2  [73.18, , 66.0 36.0, 2, , 71, 3 3, , 0, 0.02, ...
3            3  P109.0                                        [, 0, 0, 0]
4            4  P153.2                                                [0]
5            5  P154.0                                        [, 0, 0, 0]
6            6  P155.1  [53 076.82 0.96 5 235, 0.96, 53 076.82 0.96 5 ...
7            7  P101.1  [97.3, 94.7 95.5, , 22 21 97.3 22 22 100, , 98...
8            8  P102.1  [98.7 94.8, 96.4 84, , , 52 52 100 22 22 100, ...
9            9  P104.3  [73.18, 73.18, 67.08 70.9, 13.8, 92, , , 98.1,...
10          10  P105.3  [, , 98.1 100 890 683, , 801 865 798 571 788 1...
11          11  P106.3  [, , , 9.28, 0.02, , , 9.28, 10.08 9.28, , 10....
12          12  P108.3                    [, 0.1, 0, 0, 0, , 73.18, 0, 0]
13          13  P151.1                   [0 95.52, , 0 95.52, 0, 0 95.52]

In [126]:
for i in pred1.index:
    pred1['valeur'][i]= [item.split(' ') for item in pred1['valeur'][i]]

pred1

    Unnamed: 0   indic                                             valeur
0            0  D102.0  [[], [86, 134, 1, 2020, 1, 2021], [0], [0], [6...
1            1  P103.2  [[10], [], [], [2020, 69, 30, 2020], [0.02], [...
2            2  P107.2  [[73.18], [], [66.0, 36.0], [2], [], [71], [3,...
3            3  P109.0                                [[], [0], [0], [0]]
4            4  P153.2                                              [[0]]
5            5  P154.0                                [[], [0], [0], [0]]
6            6  P155.1  [[53, 076.82, 0.96, 5, 235], [0.96], [53, 076....
7            7  P101.1  [[97.3], [94.7, 95.5], [], [22, 21, 97.3, 22, ...
8            8  P102.1  [[98.7, 94.8], [96.4, 84], [], [], [52, 52, 10...
9            9  P104.3  [[73.18], [73.18], [67.08, 70.9], [13.8], [92]...
10          10  P105.3  [[], [], [98.1, 100, 890, 683], [], [801, 865,...
11          11  P106.3  [[], [], [], [9.28], [0.02], [], [], [9.28], [...
12          12  P108.3  [[], [0.1], [0], [0], [0], [], [73.18], [0], [0]]
13          13  P151.1      [[0, 95.52], [], [0, 95.52], [0], [0, 95.52]]

In [127]:
for l in pred1.index:
    temp=[]
    for i in pred1['valeur'][l]:
        for j in i:
            temp.append(j)
    pred1['valeur'][l]=temp
pred1

    Unnamed: 0   indic                                             valeur
0            0  D102.0  [, 86, 134, 1, 2020, 1, 2021, 0, 0, 60.92, 61....
1            1  P103.2  [10, , , 2020, 69, 30, 2020, 0.02, 0, 0, 0.02,...
2            2  P107.2  [73.18, , 66.0, 36.0, 2, , 71, 3, 3, , 0, 0.02...
3            3  P109.0                                        [, 0, 0, 0]
4            4  P153.2                                                [0]
5            5  P154.0                                        [, 0, 0, 0]
6            6  P155.1  [53, 076.82, 0.96, 5, 235, 0.96, 53, 076.82, 0...
7            7  P101.1  [97.3, 94.7, 95.5, , 22, 21, 97.3, 22, 22, 100...
8            8  P102.1  [98.7, 94.8, 96.4, 84, , , 52, 52, 100, 22, 22...
9            9  P104.3  [73.18, 73.18, 67.08, 70.9, 13.8, 92, , , 98.1...
10          10  P105.3  [, , 98.1, 100, 890, 683, , 801, 865, 798, 571...
11          11  P106.3  [, , , 9.28, 0.02, , , 9.28, 10.08, 9.28, , 10...
12          12  P108.3                    [, 0.1, 0, 0, 0, , 73.18, 0, 0]
13          13  P151.1                [0, 95.52, , 0, 95.52, 0, 0, 95.52]

In [128]:
import re

In [135]:
for l in pred1.index:
    for i in pred1['valeur'][l]:
        if (i==''):
            pred1['valeur'][l].remove(i)

In [136]:
pred1

    Unnamed: 0   indic                                             valeur
0            0  D102.0  [86.0, 134.0, 1.0, 2020.0, 1.0, 2021.0, 0.0, 0...
1            1  P103.2  [10.0, 2020.0, 69.0, 30.0, 2020.0, 0.02, 0.0, ...
2            2  P107.2  [73.18, 66.0, 36.0, 2.0, 71.0, 3.0, 3.0, 0.0, ...
3            3  P109.0                                    [0.0, 0.0, 0.0]
4            4  P153.2                                              [0.0]
5            5  P154.0                                    [0.0, 0.0, 0.0]
6            6  P155.1  [53.0, 76.82, 0.96, 5.0, 235.0, 0.96, 53.0, 76...
7            7  P101.1  [97.3, 94.7, 95.5, 22, 21, 97.3, 22, 22, 100, ...
8            8  P102.1  [98.7, 94.8, 96.4, 84, 52, 52, 100, 22, 22, 10...
9            9  P104.3  [73.18, 73.18, 67.08, 70.9, 13.8, 92, 98.1, 73...
10          10  P105.3  [98.1, 100, 890, 683, 801, 865, 798, 571, 788,...
11          11  P106.3  [9.28, 0.02, 9.28, 10.08, 9.28, 10.27, 10.27, ...
12          12  P108.3                        [0.1, 0, 0, 0, 73.18, 0, 0]
13          13  P151.1                  [0, 95.52, 0, 95.52, 0, 0, 95.52]

In [137]:
for i in pred1.index:
    mylist = []
    print(i, pred1['valeur'][i])
    for item in pred1['valeur'][i]:
        mylist.append(float(item))
    pred1['valeur'][i]=mylist

0 [86.0, 134.0, 1.0, 2020.0, 1.0, 2021.0, 0.0, 0.0, 60.92, 61.9, 1.61, 0.0]
1 [10.0, 2020.0, 69.0, 30.0, 2020.0, 0.02, 0.0, 0.0, 0.02, 25.33, 0.0, 0.0, 0.0, 0.0, 104.0, 110.0, 120.0, 107.0, 134.0, 8.0, 0.0, 2020.0, 69.0, 30.0, 2020.0]
2 [73.18, 66.0, 36.0, 2.0, 71.0, 3.0, 3.0, 0.0, 0.02, 98.6, 0.02, 0.02, 0.02, 0.02, 73.18, 0.0, 2.0, 62.41, 0.02, 0.02, 0.0]
3 [0.0, 0.0, 0.0]
4 [0.0]
5 [0.0, 0.0, 0.0]
6 [53.0, 76.82, 0.96, 5.0, 235.0, 0.96, 53.0, 76.82, 0.96, 5.0, 235.0, 0.96]
7 ['97.3', '94.7', '95.5', '22', '21', '97.3', '22', '22', '100', '98', '98.1', '100', '890', '683', '98', '98.1', '98', '98', '97.3', '94.7', '95.5', '22', '21', '97.3', '22', '22', '100', '98']
8 ['98.7', '94.8', '96.4', '84', '52', '52', '100', '22', '22', '100', '100', '2020', '2184', '16', '12', '2020', '98.1', '100', '890', '683', '100', '98.1', '100', '890', '683', '100', '100', '100', '100', '98.7', '94.8', '100', '98.7', '94.8', '96.4', '84', '52', '52', '100', '22', '22', '100', '100']
9 ['73.18', '73.18', '67.08', '70.9', '13.8', '92', '98.1', '73.18', '98.1', '73.18', '73.18', '73.18', '67.08', '70.9', '13.8', '69.13', '69.67', '69.29', '73.18', '5.6', '66.92', '67.35', '67.06', '70.87', '5.68']
10 ['98.1', '100', '890', '683', '801', '865', '798', '571', '788', '163', '7', '222', '5235', '1', '887', '1', '647', '1', '791', '2', '40', '17.936', '9.96', '0', '0', '0', '67.08', '11.87', '9.96', '73.18', '0', '0', '222', '0', '0', '0', '9.96', '0']
11 ['9.28', '0.02', '9.28', '10.08', '9.28', '10.27', '10.27', '10.08', '9.28', '7.94', '024681012', '2017', '0', '9.28', '0.116']
12 ['0.1', '0', '0', '0', '73.18', '0', '0']
13 ['0', '95.52', '0', '95.52', '0', '0', '95.52']

In [138]:
#for i in pred1['valeur'][1]:
  #  if (re.findall('\d+',i)==[]):
 #       pred1['valeur'][1].remove(i)

In [139]:
#for i in pred1.index:
 #   mylist = []
  #  for item in pred1['valeur'][i]:
   #     if pred1["valeur"][i][item]=='':
    #        print(i, item)
     #       pred1['valeur'][i].remove(item)

In [141]:
for i in pred1.index:
    pred1["valeur"][i]=set(pred1["valeur"][i])

In [142]:
pred1

    Unnamed: 0   indic                                             valeur
0            0  D102.0  {0.0, 1.0, 1.61, 2020.0, 2021.0, 134.0, 86.0, ...
1            1  P103.2  {0.0, 2020.0, 69.0, 134.0, 104.0, 8.0, 10.0, 1...
2            2  P107.2  {0.0, 66.0, 2.0, 36.0, 3.0, 98.6, 71.0, 73.18,...
3            3  P109.0                                              {0.0}
4            4  P153.2                                              {0.0}
5            5  P154.0                                              {0.0}
6            6  P155.1                    {0.96, 5.0, 53.0, 235.0, 76.82}
7            7  P101.1  {97.3, 98.0, 98.1, 100.0, 683.0, 21.0, 22.0, 8...
8            8  P102.1  {96.4, 98.7, 98.1, 100.0, 2020.0, 2184.0, 683....
9            9  P104.3  {98.1, 67.08, 66.92, 69.13, 70.9, 69.67, 69.29...
10          10  P105.3  {0.0, 1.0, 2.0, 67.08, 7.0, 647.0, 9.96, 73.18...
11          11  P106.3  {0.0, 2017.0, 0.116, 7.94, 9.28, 10.08, 10.27,...
12          12  P108.3                                  {0.1, 0.0, 73.18}
13          13  P151.1                                       {0.0, 95.52}

In [143]:
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})
BUCKET = "mberthe/narval"
FILE_KEY_S3 = "camemBERT/bornes.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb",index=False) as file_in:
    df = pd.read_csv(file_in)

In [145]:
pred1['min']=""
pred1['max']=""
for i in df.index:
    for j in pred1.index:
        if df['indic'][i]==pred1['indic'][j]:
            pred1["min"][j]=df['min'][i]
            pred1['max'][j]=df['max'][i]

In [146]:
pred1

,Unnamed: 0,indic,valeur,min,max
0,0,D102.0,"{0.0, 1.0, 1.61, 2020.0, 2021.0, 134.0, 86.0, ...",1.0,4.0
1,1,P103.2,"{0.0, 2020.0, 69.0, 134.0, 104.0, 8.0, 10.0, 1...",0.0,120.0
2,2,P107.2,"{0.0, 66.0, 2.0, 36.0, 3.0, 98.6, 71.0, 73.18,...",0.0,3.0
3,3,P109.0,{0.0},0.0,0.1
4,4,P153.2,{0.0},0.0,30.0
5,5,P154.0,{0.0},0.0,5.0
6,6,P155.1,"{0.96, 5.0, 53.0, 235.0, 76.82}",0.0,50.0
7,7,P101.1,"{97.3, 98.0, 98.1, 100.0, 683.0, 21.0, 22.0, 8...",25.0,100.0
8,8,P102.1,"{96.4, 98.7, 98.1, 100.0, 2020.0, 2184.0, 683....",25.0,100.0
9,9,P104.3,"{98.1, 67.08, 66.92, 69.13, 70.9, 69.67, 69.29...",50.0,95.0
10,10,P105.3,"{0.0, 1.0, 2.0, 67.08, 7.0, 647.0, 9.96, 73.18...",0.1,20.0
11,11,P106.3,"{0.0, 2017.0, 0.116, 7.94, 9.28, 10.08, 10.27,...",0.1,20.0
12,12,P108.3,"{0.1, 0.0, 73.18}",20.0,100.0
13,13,P151.1,"{0.0, 95.52}",0.0,20.0

In [147]:
for i in pred1.index:
    temp=[]
    for x in pred1['valeur'][i]:
        if (x<pred1['min'][i]) or (x>pred1['max'][i]):
            temp.append(x)
    for x in temp:
        pred1['valeur'][i].remove(x)

In [148]:
pred1

,Unnamed: 0,indic,valeur,min,max
0,0,D102.0,"{1.0, 1.61}",1.0,4.0
1,1,P103.2,"{0.0, 69.0, 104.0, 8.0, 10.0, 107.0, 110.0, 0....",0.0,120.0
2,2,P107.2,"{0.0, 2.0, 3.0, 0.02}",0.0,3.0
3,3,P109.0,{0.0},0.0,0.1
4,4,P153.2,{0.0},0.0,30.0
5,5,P154.0,{0.0},0.0,5.0
6,6,P155.1,"{0.96, 5.0}",0.0,50.0
7,7,P101.1,"{97.3, 98.0, 98.1, 100.0, 94.7, 95.5}",25.0,100.0
8,8,P102.1,"{96.4, 98.7, 98.1, 100.0, 84.0, 52.0, 94.8}",25.0,100.0
9,9,P104.3,"{67.08, 66.92, 69.13, 70.9, 69.67, 69.29, 73.1...",50.0,95.0
10,10,P105.3,"{1.0, 2.0, 7.0, 9.96, 11.87, 17.936}",0.1,20.0
11,11,P106.3,"{0.116, 7.94, 9.28, 10.08, 10.27}",0.1,20.0
12,12,P108.3,{73.18},20.0,100.0
13,13,P151.1,{0.0},0.0,20.0

# MPAGUR

In [10]:
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})
BUCKET = "mberthe/narval"
FILE_KEY_S3 = "camemBERT/pre_radMP_T5_xl.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb",index= False) as file_in:
    pred = pd.read_csv(file_in)

In [11]:
pred.drop(columns={"Unnamed: 0.1","Unnamed: 0"})

,question,mot,pred
0,Quel est le prix de service au m3 pour l'eau p...,prix,"['', '1 0,15 0,50', '']"
1,Quel est le prix du service au m3 pour l'assin...,prix,"['105.90 130.11 36.72', '1 0,15 0,50', '']"
2,Quelle est la connaissance du réseau en eau po...,connaissance,"['2019', '', '', '', '0 10']"
3,Quel est le taux de connaissance du réseau en ...,connaissance,"['75', '80', '', '75 120', '20 20']"
4,Quel est le taux de renouvellement des réseaux...,renouvellement,"['98', '', '', '', '0 120', '']"
5,Quel est le taux de renouvellement des réseaux...,renouvellement,"['98', '', '6.1 7', '', '0 120', '']"
6,Quelle est la conformité microbiologique de l'...,conformité,['2019 16']
7,Quelle est la conformité physico-chimique de l...,conformité,['2019 16']
8,Quel est le rendement du réseau de distribution?,rendement,"['98', '73,8']"
9,Quel est la conformité dispositifs assinisseme...,conformité,"['', '2019 16', '', '0 100', '0']"
10,Quelle est la valeur de D102.0?,D102.0,[]
11,Quelle est la valeur de D204.0?,D204.0,"['2.69', '0']"
12,Quelle est la valeur de P103.2?,P103.2,[]
13,Quelle est la valeur de P202.2 ?,P202.2,"['75', '75', '0']"
14,Quelle est la valeur de P107.2?,P107.2,[]
15,Quelle est la valeur de P253.2?,P253.2,"['2', '0']"
16,Quelle est la valeur de P101.1?,P101.1,[]
17,Quelle est la valeur de P102.1?,P102.1,[]
18,Quelle est la valeur de P104.3?,P104.3,[]
19,Quelle est la valeur de P301.3?,P301.3,[]
20,Quelle est la valeur de l'indicateur D102.0?,D102.0,[]
21,Quelle est la valeur de l'indicateur D104.0?,D104.0,[]
22,Quelle est la valeur de l'indicateur P103.2?,P103.2,[]
23,Quelle est la valeur de l'indicateur P202.2?,P202.2,"['75', '75', '0']"
24,Quelle est la valeur de l'indicateur P107.2?,P107.2,[]
25,Quelle est la valeur de l'indicateur P253.2?,P253.2,"['2', '0', '0']"
26,Quelle est la valeur de l'indicateur P101.1?,P101.1,[]
27,Quelle est la valeur de l'indicateur P102.1?,P102.1,[]
28,Quelle est la valeur de l'indicateur P104.3?,P104.3,[]
29,Quelle est la valeur de l'indicateur P301.3?,P301.3,[]
30,Quel est le taux de conformité des dispositif...,coformité,[]
31,Quelle est la conformité microbiologique de l'...,microbiologie,[]
32,Quelle est la conformité physico-chimique de l...,physico-chimie,[]
33,Quelle est la conformité microbiologique de l'...,microbiologique,[]
34,Quelle est la conformité physico-chimique de l...,physico-chimique,[]
35,Quel est le total de points de connaissance d...,connaissance,"['75', '80', '0', '', '75 120', '20 20']"
36,Quelle est le pourcentage de conformité des di...,dispositifs,['0']
37,Quel est le prix de service au m3 pour l'eau p...,prix,"['199.08 260.01', '1 0,15 0,50', '']"
38,Quel est le prix du service au m3 pour l'assin...,prix,"['2 2019', '30 2019', '2.69']"
39,Quelle est la connaissance du réseau en eau po...,connaissance,"['', '', '', '', '1000']"
40,Quel est le taux de connaissance du réseau en ...,connaissance,"['75', '80', '75', '0', '75 120', '0 10']"
41,Quel est le taux de renouvellement des réseaux...,renouvellement,"['2 2019', '', '2019', '0', '', '20178 45']"
42,Quel est le taux de renouvellement des réseaux...,renouvellement,"['98', '', '61', '', '0', '']"
43,Quelle est la conformité microbiologique de l'...,conformité,['2019 16']
44,Quelle est la conformité physico-chimique de l...,conformité,['2019 16']
45,Quel est le rendement du réseau de distributio...,rendement,"['98', '73,8']"
46,Quel est la conformité dispositifs assinisseme...,conformité,"['', '2019 15', '', '0 10', '0']"

In [16]:
for i in pred.index:
    pred['valeur'][i]= [item.split(' ') for item in pred['valeur'][i]]
for l in pred1.index:
    temp=[]
    for i in pred['valeur'][l]:
        for j in i:
            temp.append(j)
    pred['valeur'][l]=temp
for l in pred.index:
    for i in pred['valeur'][l]:
        if (i==''):
            pred['valeur'][l].remove(i)

KeyError: 'valeur'